.container {
    max-width: calc(1170px + 30px);
    margin: 0 auto;
    padding: 0 5px;
}
@media screen and (max-width: 1200px) {
    .container {
        max-width: calc(100% - 30px);
    }
}
@media screen and  (max-width: 992px) {
    .container {
        width: 100%;
    }
}
@media screen and  (max-width: 768px) {
    .container {
        width: 100%;
    }
}
