.our_works {
    margin-top: 100px;
    font-weight: 600;
    font-family: 'SemiBold';
}

.title {
    padding-left: 7px;
    font-size: 48px;
    line-height: 60px;
    letter-spacing: 1.77px;
}

.grid {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1.6vw;
    margin-top: 71px;
    margin-right: 13px;
    padding: 5px;
}

.grid > .square {
    padding: 1.46em;
    text-align: center;
    font-size: 5vw;
    background: #c3d0d8;
}

.grid__link {
    margin-right: 18px;
    margin-top: 50px;
    text-align: center;
}

.grid__link__mod {
    font-size: 18px;
    font-weight: 400;
    line-height: 20.76px;
    letter-spacing: 0.18px;
    text-align: center;
    text-decoration: none;
}

@media (max-width: 1200px) {
    .grid {
        display: grid;
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
        grid-gap: 2vw;
        margin-top: 90px;
    }
}

@media (max-width: 1140px) {
    .grid {
        display: grid;
        grid-template-rows: 1fr;
        grid-template-columns: 1fr;
        grid-gap: 2vw;
        margin-top: 90px;
    }
}
@media screen and (max-width: 375px) {
    .title {
        font-size: 30px;
    }
    .grid {
        margin-top: 15px;
    }
}